footer {
  background: #F7F4FF;
}

.footer-top {
  padding: 50px 0;
}

.footer-cookie {
  padding: 15px 0;
  color: #7A7194;
  background: #E6DEF4;
}

.footer-bottom {
  padding: 26px 0;
  background: #fff;
  color: #B6B0D6;
}