header {
  background: #fff;
  border-bottom: 1px solid #E6DEF4;
}
header .list-social {
  margin: 0 0 0 auto;
}

.header-top {
  background: #F7F4FF;
  padding: 0;
}

.header-center {
  padding: 20px 0 0;
}

.header-bottom {
  margin: 0 0 -1px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7A7194;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.logo-icon img {
  width: 130px;
}
.logo-description {
  min-height: 50px;
  margin: 0 0 0 20px;
  max-width: 230px;
  padding: 0 0 0 20px;
  border-left: 1px solid #E6DEF4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu-category__item {
  margin: 0 60px 0 0;
}
.menu-category__item:last-child {
  margin: 0;
}
.menu-category__link {
  font-size: 16px;
  font-weight: 500;
  color: #2F2940;
  line-height: 26px;
  padding: 18.5px 0;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
}
.menu-category__link:hover, .menu-category__link.active, .menu-category__link:active {
  font-weight: 600;
  color: #5A3FC3;
  border-color: #5A3FC3;
}

.header-contacts {
  margin: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts__link {
  color: #2F2940;
  font-weight: 500;
}
.header-contacts__link:hover {
  color: #5A3FC3;
}
.header-contacts .mail {
  display: none;
  border-left: 1px solid #E6DEF4;
  padding: 0 0 0 15px;
  margin: 0 0 0 15px;
}

.location-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 0 0;
}

.btn-location {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.btn-location::after {
  display: none;
}
.btn-location__icon {
  width: 24px;
  height: 24px;
  stroke: #5A3FC3;
  fill: none;
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-menu {
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 20px;
}
.menu .dropdown:last-child .dropdown-menu {
  left: auto !important;
  right: 50% !important;
}
.menu > li {
  margin: 0 25px 0 0;
}
.menu > li:last-child {
  margin: 0;
}
.menu > li > a {
  color: #7A7194;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 14px 0;
}
.menu > li > a:hover {
  color: #6242E0;
}
.menu > li > a:hover .dropdown-arrow {
  fill: #6242E0;
}

.btn-basket {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 18px;
  background: #F7F4FF;
  fill: none;
  stroke: #5A3FC3;
  margin: 0 0 0 20px;
}
.btn-basket svg {
  width: 24px;
  height: 24px;
}
.btn-basket__count {
  border-radius: 50%;
  background: #5A3FC3;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn-basket.active {
  background: #6242E0;
  stroke: #fff;
}
.btn-basket.active .btn-basket__count {
  background: #BDA1F7;
  color: #fff;
}
.btn-basket:hover, .btn-basket:focus {
  background: #5A3FC3;
  stroke: #fff;
}
.btn-basket:hover .btn-basket__count, .btn-basket:focus .btn-basket__count {
  background: #BDA1F7;
  color: #fff;
}

.search-wrapper {
  position: relative;
  z-index: 1;
  margin: 0 27px 0 auto;
  max-width: 356px;
  width: 100%;
}

.form-search {
  width: 100%;
  position: relative;
  z-index: 1;
}
.form-search label {
  margin: 0;
}
.form-search input {
  border: 1px solid #E6DEF4;
  height: 44px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #2F2940;
  padding: 0 34px 0 10px;
}
.form-search input::-webkit-input-placeholder {
  color: #B6B0D6;
}
.form-search input::-moz-placeholder {
  color: #B6B0D6;
}
.form-search input:-ms-input-placeholder {
  color: #B6B0D6;
}
.form-search input::-ms-input-placeholder {
  color: #B6B0D6;
}
.form-search input::placeholder {
  color: #B6B0D6;
}
.form-search input:hover, .form-search input:focus {
  color: #2F2940;
}
.form-search__btn {
  background: transparent;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  fill: #5A3FC3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form-search.active .form-search__btn {
  fill: #6242E0;
}

.form-search__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  stroke: #5A3FC3;
}
.form-search__btn-close.visible {
  opacity: 1;
  pointer-events: auto;
}

.search-result-box {
  display: none;
  width: 100%;
  max-height: 182px;
  overflow-y: auto;
  padding: 10px 20px 10px 10px;
  margin: 4px auto 0;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  background: #fff;
  border: 1px solid #E6DEF4;
  border-radius: 6px;
  font-size: 14px;
  line-height: 22px;
}
.search-result-box__link {
  margin: 0 0 10px;
  color: #2F2940;
}
.search-result-box__link:last-child {
  margin: 0;
}
.search-result-box__link:hover, .search-result-box__link:focus {
  color: #5A3FC3;
}