.home-slider {
  background: url("../img/home-slide1.png") no-repeat center;
  background-size: cover;
  color: #fff;
  padding: 150px 0;
}
.home-slider .slick-dots {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 50px;
}

.slider-style2 .slick-prev {
  left: -78px;
}
.slider-style2 .slick-next {
  right: -78px;
}

.popular-category {
  margin: 150px 0 75px;
}

.product-card {
  width: 100%;
  height: 100%;
  background: #F7F4FF;
  border-radius: 20px;
}
.product-card__img {
  width: 100%;
  height: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product-card__img img {
  max-height: 100%;
}
.product-card__body {
  width: 100%;
  height: calc(100% - 336px);
  padding: 20px;
}
.product-card__name {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: #2F2940;
}
.product-card__name:hover {
  color: #5A3FC3;
}

.about-company {
  margin: 75px 0 100px;
}
.about-company__content {
  background: #F7F4FF;
  border-radius: 10px;
  width: 100%;
  max-width: 565px;
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}
.about-company__video {
  height: 365px;
}

.advantages-section {
  padding: 50px 0 88px;
  background: #F7F4FF url("../img/texture-bg.svg") no-repeat right top;
  background-size: 720px;
}

.advantages-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 1px solid #E6DEF4;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.advantages-box__icon {
  border-radius: 50%;
  position: relative;
  z-index: 1;
  width: 60px;
  height: 60px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages-box__icon:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: #B6B0D6;
  width: 14px;
  height: 14px;
  top: 1px;
  right: 2px;
}
.advantages-box__text {
  width: calc(100% - 60px);
  padding: 0 0 0 20px;
}

.advantages-row {
  margin: -88px auto 0;
}

.advantages-wrapper {
  background: #BDA1F7;
  border-radius: 20px;
  padding: 40px 60px 10px;
  color: #fff;
}
.advantages-wrapper h3 {
  margin: 0 0 4px;
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
}

.reviews-slider .slick-dots {
  position: relative;
  bottom: 0;
  left: 0;
  -webkit-transform: none;
          transform: none;
  margin: 104px auto 0;
}

.reviews-card {
  width: 100%;
  padding: 20px;
  background: #F7F4FF;
  border-radius: 20px;
}
.reviews-card__head {
  width: 100%;
}
.reviews-card__body {
  padding: 10px 0 0;
  margin: 10px 0 0;
  border-top: 1px solid #fff;
}
.reviews-card h4 {
  font-weight: 500;
  margin: 0 0 10px;
}
.reviews-card__doctor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.reviews-card__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews-card__name {
  padding: 0 0 0 10px;
  width: calc(100% - 40px);
  color: #7A7194;
  font-weight: 500;
}
.reviews-card__position {
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #7A7194;
}
.reviews-card .box-text {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}
.reviews-card .box-text-open {
  -webkit-line-clamp: unset;
  max-height: none;
  overflow: visible;
}

.logo-clinik {
  background: #fff;
  border: 1px solid #E6DEF4;
  border-radius: 10px;
  width: 160px;
  height: 90px;
  padding: 18px;
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-read-more {
  margin: 32px 0 0;
}
.reviews-read-more.click svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hits-card {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 20px;
  background: #fff;
}
.hits-card__img {
  width: 100%;
  height: 294px;
  position: relative;
  z-index: 1;
  padding: 13px 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F7F4FF;
  border-radius: 10px;
}
.hits-card__img::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 230px;
  height: 230px;
  z-index: -1;
  border-radius: 50%;
}
.hits-card__img img {
  max-width: 130px;
}
.hits-card__body {
  border: 1px solid #E6DEF4;
  margin: -8px 0 0;
  padding: 38px 30px 30px;
  width: 100%;
  border-radius: 0 0 20px 20px;
}
.hits-card__title {
  color: #2F2940;
}
.hits-card__title:hover {
  color: #5A3FC3;
}
.hits-card .price-wrapper {
  margin: 14px 0 20px;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.old-price {
  margin: 5px 0 0;
  text-decoration: line-through;
  color: #B6B0D6;
}

.price {
  color: #5A3FC3;
}

.list-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 20px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #fff;
}
.list-labels__item {
  margin: 0 10px 0 0;
  border-radius: 40px;
  padding: 10px 14px;
}
.list-labels__item:last-child {
  margin: 0;
}

.news-blog-card {
  width: 100%;
  height: 100%;
  background: #F7F4FF;
  padding: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 1;
}
.news-blog-card__date {
  background: #fff;
  border-radius: 40px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  color: #B6B0D6;
}
.news-blog-card__title {
  margin: 20px 0;
  max-width: 460px;
}
.news-blog-card .box-text {
  padding: 0 65px 0 0;
}
.news-blog-card .link-arrow {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 2;
  padding: 19px;
}

.sales-card {
  width: 525px;
  min-width: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 20px;
  border: 1px solid #E6DEF4;
  padding: 30px;
}
.sales-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 238px;
}
.sales-card__img .image {
  max-width: 160px;
}
.sales-card__body {
  width: calc(100% - 238px);
  padding: 0 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sales-card .list-labels {
  position: relative;
  top: 0;
  right: 0;
  padding: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 20px;
  font-size: 14px;
}
.sales-card .price-wrapper {
  margin: 20px 0;
}
.sales-card .btn {
  margin: auto 0 0;
}

.callback-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}
.callback-wrapper__img {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 0;
  max-width: 620px;
  width: 100%;
  height: 378px;
  overflow: hidden;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.callback-wrapper__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.callback-wrapper__content {
  padding: 50px 50px 50px 350px;
  max-width: 983px;
  min-height: 478px;
  width: 100%;
  margin: 0 0 0 auto;
  position: relative;
  z-index: 1;
  border-radius: 20px;
  background: #BDA1F7 url("../img/texture.svg") no-repeat right bottom;
  background-size: 150px;
  color: #fff;
}

.form-callback {
  max-width: 500px;
  width: 100%;
}
.form-callback [type=submit] {
  margin: 0 30px 0 0;
}
.form-callback [type=submit]:last-child {
  margin: 0;
}
.form-callback .label-checkbox {
  max-width: 213px;
}
.form-callback .form-footer-reverse [type=submit] {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin: 0 0 0 30px;
}

.search-result-list {
  font-size: 22px;
  line-height: 28px;
  width: 100%;
}
.search-result-list__item {
  border-bottom: 1px solid #E6DEF4;
  margin: 0 0 40px;
}
.search-result-list__item:last-child {
  margin: 0;
}
.search-result-list__link {
  padding: 0 0 40px;
  max-width: 871px;
  width: 100%;
  color: #2F2940;
}
.search-result-list__link:hover, .search-result-list__link.active {
  color: #5A3FC3;
}

.page-video {
  margin: 30px 0 40px;
}

.video-card {
  width: 100%;
  height: 100%;
  background: #F7F4FF;
  border-radius: 10px;
  padding: 20px;
}
.video-card__body {
  width: 100%;
  padding: 16px 0 0;
}
.video-card__title {
  font-weight: 500;
}
.video-card__title:hover {
  color: #5A3FC3;
}
.video-card .video-wrapper {
  height: 270px;
}
.video-card .video-wrapper::before {
  height: 180px;
}
.video-card .video-wrapper::after {
  width: 80px;
  height: 80px;
  background-size: 20px;
}

.page-reviews {
  margin: 30px 0 100px;
}

.geography-projects {
  margin: 0 0 -50px;
}

.map {
  width: 100%;
  height: 530px;
}

.reviews-card-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.reviews-card-reverse .logo-clinik {
  display: none;
}
.reviews-card-reverse .reviews-card__head {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 20px 0 0;
  margin: 20px 0 0;
  border-top: 1px solid #fff;
}
.reviews-card-reverse .reviews-card__body {
  border: none;
  padding: 0;
}
.reviews-card-reverse .reviews-card__name {
  padding: 0;
}
.reviews-card-reverse .reviews-card__avatar {
  display: none;
}
.reviews-card-reverse .reviews-read-more {
  margin: 14px 0 0;
}

.video-reviews {
  margin: 100px 0 70px;
}

.videor-reviews-card {
  width: 100%;
}
.videor-reviews-card .video-wrapper {
  height: 499px;
}
.videor-reviews-card .video-wrapper:after {
  width: 80px;
  height: 80px;
  background-size: 20px;
}
.videor-reviews-card__content {
  padding: 16px 0 0;
}
.videor-reviews-card h4 {
  margin: 0 0 15px;
}
.videor-reviews-card .small-text {
  color: #7A7194;
  margin: 10px 0 0;
}

.sidebar-blog {
  max-width: 170px;
}

.tabs-wrapper {
  width: 100%;
  position: relative;
}

.list-categorey-blog {
  width: 100%;
}
.list-categorey-blog li {
  width: 100%;
  margin: 0 0 20px;
}
.list-categorey-blog li:last-child {
  margin: 0;
}
.list-categorey-blog a {
  width: 100%;
  padding: 10px;
}

.blog-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #F7F4FF;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
.blog-card__img {
  max-width: 492px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.blog-card__body {
  width: calc(100% - 492px);
  padding: 0 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.blog-card .news-blog-card__title {
  margin: 14px 0;
}
.blog-card .link-read-more {
  margin: 14px 0 0;
}

.tag-item {
  position: absolute;
  z-index: 1;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  border-radius: 40px;
  color: #fff;
  top: 20px;
  left: 20px;
}

.tabs-select-btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #5A3FC3;
  fill: #5A3FC3;
  font-weight: 500;
}
.tabs-select-btn span {
  text-decoration: underline;
}
.tabs-select-btn svg {
  width: 24px;
  height: 24px;
}

.page-patients {
  margin: 30px 0 70px;
}

.patient-card {
  width: 100%;
  height: 100%;
  min-height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F7F4FF url("../img/texture2.svg") no-repeat right bottom;
  background-size: 230px;
  border-radius: 20px;
  padding: 20px;
}
.patient-card__img {
  width: 100%;
  height: 221px;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.patient-card__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.patient-card__body {
  width: 100%;
  height: calc(100% - 221px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0 0;
}
.patient-card .box-text {
  margin: 14px 0 45px;
}
.patient-card .btn {
  margin: auto 0 0;
}

.company-card {
  width: 100%;
  height: 100%;
  min-height: 404px;
  background: #F7F4FF url("../img/texture3.svg") no-repeat right bottom;
  background-size: 362px;
  border-radius: 20px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.company-card .btn {
  margin: 20px 0 0;
}
.company-card__logo {
  margin: 0 0 30px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.company-card__logo img {
  max-height: 100%;
}
.company-card__phone {
  margin: 10px 0 auto;
}
.company-card__phone:hover {
  color: #5A3FC3;
}

.attention-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 10px 0 20px;
  color: #6A5D81;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.attention-text::before {
  content: "";
  display: block;
  width: 20px;
  min-width: 20px;
  height: 20px;
  background: url("../img/attention-icon.svg") no-repeat center;
  background-size: contain;
  margin: 4px 10px 0 0;
}

.attention-text-v2 {
  margin: 30px 0;
  border-radius: 10px;
  background: #F7F4FF;
  padding: 20px;
}

.consultation-wrapper {
  background: #BDA1F7 url("../img/texture1.svg") no-repeat right bottom;
  background-size: 150px;
  border-radius: 20px;
  padding: 40px;
  color: #fff;
}
.consultation-wrapper h3 {
  margin: 0 0 20px;
}

.form-consultation {
  max-width: 1126px;
}

.card-information {
  width: 100%;
}
.card-information__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 14px;
  line-height: 24px;
  font-size: 16px;
}
.card-information__title img {
  margin: 4px 10px 0 0;
}

.model-card__img {
  width: 100%;
  height: 221px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.model-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.model-card__body {
  width: 100%;
  height: calc(100% - 221px);
  padding: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.model-card__title {
  color: #2F2940;
  margin: 0 0 14px;
}
.model-card__title:hover {
  color: #5A3FC3;
}
.model-card .box-text {
  margin: 0 0 30px;
}

.catalog-accordion {
  width: 100%;
}

.catalog-item {
  width: 100%;
  margin: 0 0 20px;
  border-radius: 8px;
  border: 1px solid #E6DEF4;
  overflow: hidden;
}
.catalog-item:last-child {
  margin: 0;
}
.catalog-item__btn {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F7F4FF;
  padding: 14px 20px;
  border-radius: 8px 8px 0 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
}
.catalog-item__btn-icon {
  fill: #2F2940;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin: 0 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.catalog-item .collapse {
  width: 100%;
}

.catalog-item__btn[aria-expanded=true] .catalog-item__btn-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.catalog-list {
  padding: 16px 20px 20px;
  width: 100%;
}
.catalog-list li {
  margin: 0 0 20px;
}
.catalog-list li:last-child {
  margin: 0;
}
.catalog-list li a {
  color: #2F2940;
}
.catalog-list li a:hover {
  color: #5A3FC3;
}

.btn-catalog-mobile {
  margin: 30px 0;
  display: none;
}
.btn-catalog-mobile svg {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 10px 0 0;
}

.btn-filter-mobile {
  fill: none;
  stroke: #fff;
}
.btn-filter-mobile svg {
  fill: none;
  stroke: #fff;
}
.btn-filter-mobile img {
  margin-right: 10px;
}

.sidebar-catalog__close {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  stroke: #B6B0D6;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category-card {
  width: 100%;
  height: 100%;
  min-height: 326px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.category-card__body {
  max-width: 230px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.category-card .btn {
  margin: auto 0 0;
}
.category-card .box-text {
  margin: 14px 0 20px;
}
.category-card__img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 206px;
  height: 100%;
  padding: 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.category-card__img:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 313px;
  height: 313px;
  background: #fff;
  border-radius: 50%;
  bottom: -103px;
  right: -103px;
}

.category-card-2 .category-card__img {
  padding: 22px 0 22px 8px;
}

.help-card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
}
.help-card__body {
  max-width: 655px;
  width: calc(100% - 522px);
  padding: 0 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.help-card .btn {
  margin: auto 0 0;
}
.help-card .box-text {
  margin: 20px 0;
}
.help-card__img {
  width: 522px;
  height: 321px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.help-card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.help-card .attention-text {
  margin: 0 0 20px;
}

.page-marketing {
  margin: 30px 0 80px;
}

.marketing-image {
  width: 100%;
  max-width: 645px;
  height: 374px;
  overflow: hidden;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.marketing-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.marketing-result {
  margin: 30px 0 70px;
}

.marketing-result-box {
  margin: 0 0 20px;
  position: relative;
  z-index: 1;
  padding: 0 0 0 30px;
}
.marketing-result-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  background: url("../img/check-icon.svg") no-repeat center;
  background-size: 100%;
}
.marketing-result-box:last-child {
  margin: 0;
}
.marketing-result-box h5 {
  margin: 0 0 10px;
}

.banner-news {
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-news img {
  border-radius: 10px;
  width: 100%;
}

.news-date {
  border-radius: 40px;
  margin: 0 0 20px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  background: #F7F4FF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #B6B0D6;
}

.read-also {
  margin: 100px 0 70px;
}

.gallery-news-wrapper {
  border-radius: 20px;
  background: #F7F4FF;
  padding: 30px;
  overflow: hidden;
}

.gallery-news-slider .slick-prev {
  left: 20px;
}
.gallery-news-slider .slick-next {
  right: 20px;
}

.gallery-news__item {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}
.gallery-news__item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.devices-slider {
  width: calc(100% + 15px);
}

.devices-card {
  height: 100%;
  position: relative;
  z-index: 1;
  width: 250px;
  border-radius: 20px;
  background: #F7F4FF;
  padding: 20px 0;
  overflow: hidden;
}
.devices-card:hover .devices-card__img:after {
  right: 0;
}
.devices-card:hover .devices-card__title {
  color: #5A3FC3;
}
.devices-card__img {
  width: 100%;
  height: 336px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.devices-card__img img {
  max-height: 100%;
}
.devices-card__img:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 250px;
  height: 309px;
  bottom: 0;
  right: -100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background: url("../img/ellipse.svg") no-repeat center;
  background-size: 100%;
}
.devices-card__body {
  width: 100%;
  padding: 20px 20px 0;
}
.devices-card__title {
  margin: 0 0 10px;
  color: #2F2940;
}
.devices-card .box-text {
  color: #B6B0D6;
  font-size: 12px;
  font-weight: 500;
}

.select-sorting + .select2-container--default {
  margin-left: auto !important;
}
.select-sorting + .select2-container--default .select2-selection--single {
  color: #5A3FC3 !important;
  border: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0;
}
.select-sorting + .select2-container--default .select2-selection--single .select2-selection__rendered {
  border-bottom: 1px solid #5A3FC3;
  padding: 0 0 5px;
}
.select-sorting + .select2-container--default .select2-selection--single .select2-selection__arrow {
  position: relative;
  z-index: 1;
  background: url("../img/select-arrow2.svg") no-repeat center;
  background-size: 100%;
  margin: 0 0 0 6px;
}

.select2-selection__rendered {
  color: #5A3FC3 !important;
}

.select-sorting + .select2-container {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.card-product-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  border: 1px solid #E6DEF4;
  border-radius: 20px;
  padding: 30px;
}
.card-product-row__img {
  position: relative;
  z-index: 1;
  width: 307px;
  border-radius: 20px;
  padding: 20px;
  background: #F7F4FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card-product-row__img:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 50%;
  z-index: -1;
  width: 230px;
  height: 230px;
}
.card-product-row__img img {
  max-height: 100%;
}
.card-product-row__body {
  width: calc(100% - 307px);
  padding: 0 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.card-product-row .price-wraper {
  margin: auto 0 20px;
}

.instruction-box {
  padding: 40px 40px 20px;
  height: auto;
}

.page-about .about-company__video {
  height: 422px;
}
.page-about .list-tags__link {
  text-align: left;
}

.about-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about-box__icon {
  width: 50px;
  height: 50px;
  min-width: 50px;
  background: #F7F4FF;
  padding: 13px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-box__body {
  width: calc(100% - 50px);
  padding: 0 0 0 20px;
}
.about-box .h1 {
  color: #5A3FC3;
  margin: 0 0 10px;
}

.certificate-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #F7F4FF;
  text-align: center;
  padding: 10px 10px 14px;
}
.certificate-card__img {
  width: 100%;
  height: 390px;
  background: #fff;
  border-radius: 6px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.certificate-card__img img {
  max-height: 100%;
}
.certificate-card__body {
  width: 100%;
  padding: 14px 0 0;
}
.certificate-card__title {
  max-width: 250px;
  margin: 0 auto;
  display: block;
}

.certificates-col {
  display: none;
}
.certificates-col:nth-child(-n+8) {
  display: block;
}

.doctor-card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: #F7F4FF;
  padding: 10px;
}
.doctor-card__photo {
  width: 100%;
  height: 236px;
  background: url("../img/texture4.svg") no-repeat center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.doctor-card__photo img {
  max-height: 100%;
}
.doctor-card__body {
  height: calc(100% - 236px);
  background: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}
.doctor-card h5 {
  margin: 0 0 5px;
}
.doctor-card__position {
  font-size: 12px;
  line-height: 18px;
}
.doctor-card .box-text {
  padding: 10px 0 0;
  margin: 10px 0 0;
  border-top: 1px solid #F7F4FF;
  font-size: 12px;
  line-height: 18px;
  color: #7A7194;
}

.faq-item {
  width: 100%;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #E6DEF4;
  overflow: hidden;
  padding: 0 0 16px;
}
.faq-item:hover .faq-icon {
  background: #5A3FC3;
  stroke: #fff;
  fill: #fff;
}
.faq-item.open {
  background: #F7F4FF;
}
.faq-item.open .faq-icon {
  background: #fff;
  fill: #5A3FC3;
  stroke: #5A3FC3;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.faq-btn {
  padding: 30px 70px 12px 30px;
  background: transparent;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.faq-body {
  padding: 0 30px 0;
  background: transparent;
  max-width: 1250px;
}

.faq-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #F7F4FF;
  position: absolute;
  right: 30px;
  top: 23px;
  z-index: 1;
  padding: 10px;
  stroke: #5A3FC3;
  fill: #5A3FC3;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.gallery-card {
  padding: 20px;
}
.gallery-card__img {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.gallery-card__img img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery-card__body {
  width: 100%;
  padding: 14px 0 0;
}
.gallery-card__title {
  color: #2F2940;
}
.gallery-card__title:hover {
  color: #5A3FC3;
}
.gallery-card__doctor {
  padding: 14px 0 0;
  margin: 14px 0 0;
  width: 100%;
  border-top: 1px solid #fff;
  color: #6A5D81;
}
.gallery-card__doctor span {
  font-weight: normal;
}

.contacts-tabs li {
  margin: 0 20px 0 0;
}
.contacts-tabs li:last-child {
  margin: 0;
}

.map-box {
  width: 100%;
  height: 550px;
  overflow: hidden;
}

.contact-box {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #E6DEF4;
  padding: 30px;
}
.contact-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px;
}
.contact-box__icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  background: #F7F4FF;
  padding: 5px;
  fill: #5A3FC3;
}
.contact-box .link {
  color: #2F2940;
  font-size: 16px;
  font-weight: normal;
}
.contact-box .link:hover {
  color: #5A3FC3;
}
.contact-box__body {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin: 0 0 20px;
}
.contact-box__body:last-child {
  margin: 0;
}

.form-feedback {
  max-width: 930px;
}
.form-feedback .label-checkbox {
  max-width: 280px;
  margin: 0;
}
.form-feedback [type=submit] {
  margin: 0 0 0 40px;
}
.form-feedback .form-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-contact-tabs .svg-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
}
.dropdown-contact-tabs .btn-tab-dropdown {
  padding: 0;
  height: auto;
  fill: #5A3FC3;
}
.dropdown-contact-tabs .current-tab-text {
  border-bottom: 1px solid #5A3FC3;
  padding: 0 0 4px;
  color: #5A3FC3;
}

.page-education {
  margin: 30px 0 80px;
}
.page-education .attention-text:last-child {
  margin-bottom: 0;
}
.page-education .help-card__img {
  max-width: 645px;
  width: 100%;
  height: 370px;
  border-radius: 10px;
  margin: 0;
}
.page-education .help-card__img img {
  border-radius: 10px;
}

.method-cosmetology {
  margin: 80px 0 50px;
}

.list-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}
.list-methods li {
  margin: 0 20px 20px 0;
}
.list-methods li:last-child {
  margin: 0 0 20px;
}
.list-methods a {
  height: 52px;
  padding: 14px 24px;
  text-align: left;
}

.training-consist-box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 30px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  border: 1px solid #E6DEF4;
}
.training-consist-box__head {
  padding: 10px 30px;
  background: #BDA1F7;
  border-radius: 8px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: -54px 0 20px;
}
.training-consist-box__body {
  width: 100%;
  line-height: 24px;
}
.training-consist-box__body ul li {
  margin: 0 0 14px;
}

.training-author {
  margin: 46px 0 100px;
}

.training-author-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background: #F7F4FF url("../img/deka-bg.svg") no-repeat calc(100% - 50px) center;
  background-size: 260px;
  padding: 50px;
}
.training-author-wrapper__photo {
  width: 200px;
  height: 200px;
  min-width: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 360px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-help ul li {
  margin: 0 0 14px;
}
.services-help ul li:last-child {
  margin: 0;
}
.services-help .attention-text-v2 {
  margin: 0 0 40px;
}

.services-section .attention-text {
  margin: 0;
}
.services-section ul {
  max-width: 530px;
}
.services-section__images {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  max-width: 645px;
  margin: 0 0 0 auto;
}
.services-section__images::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 8px;
  height: 180px;
  background: #F7F4FF;
}
.services-section__images img {
  margin: 0 16px 0 0;
  max-width: 225px;
}
.services-section__images img:last-child {
  max-width: 285px;
  margin: 0;
}

.page-error {
  margin: 50px 0 100px;
  text-align: center;
}
.page-error h1 {
  font-size: 200px;
  line-height: 300px;
  font-weight: normal;
  margin: 0 auto;
  color: #5A3FC3;
}
.page-error .box-text {
  margin: 0 auto 40px;
  max-width: 480px;
}
.page-error .btn {
  margin: 0 auto;
}