/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
  .callback-wrapper__img {
    max-width: 500px;
  }
  .callback-wrapper__content {
    width: calc(100% - 250px);
    max-width: none;
    padding: 50px 50px 50px 280px;
  }
}
@media only screen and (max-width: 992px) {
  .container, .container-fluid {
    padding: 0 24px;
  }
  .row {
    margin: 0 -12px;
  }
  .m-100 {
    margin: 80px 0;
  }
  .btn {
    height: 48px;
    padding: 10px 24px;
  }
  .slick-dots {
    padding: 0 12px;
  }
  .home-slider {
    background: url("../img/home-slide1-tablet.jpg") no-repeat center;
    background-size: cover;
    padding: 58px 0;
  }
  .home-slider .slick-dots {
    bottom: 30px;
  }
  .home-slider h2 {
    margin: 0 0 15px;
  }
  .home-slider h1, .home-slider .h1 {
    margin: 0 0 20px;
  }
  .home-slider h1, .home-slider h2, .home-slider .h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .popular-category {
    margin: 80px 0;
  }
  .about-company__content {
    max-width: none;
  }
  .about-company {
    margin: 80px 0;
  }
  .about-company .text {
    margin: 0 0 30px;
  }
  .about-company__video {
    height: 403px;
  }
  .advantages-section {
    padding: 80px 0 146px;
    background-size: 400px;
  }
  .advantages-img {
    max-width: 624px;
    margin: 0 auto;
  }
  .advantages-wrapper {
    padding: 40px 40px 10px;
  }
  .advantages-row {
    margin: -146px auto 0;
  }
  .reviews-read-more {
    margin: 14px 0 0;
  }
  .news-blog-card .link-arrow {
    height: 60px;
    width: 60px;
  }
  .sales-section {
    margin: 50px 0 80px;
  }
  .callback-wrapper {
    padding: 40px 0 0;
  }
  .callback-wrapper__img {
    width: calc(100% - 100px);
    max-width: none;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .callback-wrapper__content {
    max-width: none;
    width: 100%;
    background: #BDA2F6;
    padding: 380px 50px 50px 50px;
  }
  .form-callback {
    max-width: none;
  }
  .form-callback .label-checkbox {
    max-width: 282px;
  }
  .menu-footer-column {
    margin: 0 0 20px;
  }
  .company-logos {
    display: none;
  }
  .footer-top {
    padding: 50px 0 20px;
  }
  .footer-bottom {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  .popular-category .product-card {
    width: 240px;
  }
  .reviews-slider, .popular-category-slider, .hits-slider, .sales-slider {
    width: calc(100% + 15px);
  }
  .reviews-slider .slick-dots {
    margin: 30px 0 0;
  }
  .reviews-card {
    width: 420px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews-card .logo-clinik {
    display: none;
  }
  .reviews-card__head {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-top: 1px solid #fff;
    padding: 20px 0 0;
    margin: 20px 0 0;
  }
  .reviews-card__body {
    border: none;
    padding: 0;
    margin: 0;
  }
  .reviews-card__avatar {
    display: none;
  }
  .reviews-card__name {
    margin: 0;
    padding: 0;
  }
  .reviews-card__position {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
  }
  .hits-card {
    width: 307px;
  }
  .sales-card {
    width: 525px;
  }
  .link-politiks {
    max-width: 175px;
  }
}
@media only screen and (max-width: 576px) {
  h1, .h1 {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 20px;
  }
  h2, .h2 {
    font-size: 20px;
    line-height: 26px;
  }
  h3, .h3 {
    font-size: 18px;
    line-height: 26px;
  }
  h4, .h4 {
    font-size: 16px;
    line-height: 24px;
  }
  h5, .h5 {
    font-size: 16px;
    line-height: 24px;
  }
  .link {
    font-size: 16px;
  }
  .bold-text {
    font-size: 14px;
    line-height: 22px;
  }
  .box-text, .text, .bold-text {
    font-size: 14px;
    line-height: 22px;
  }
  .small-text {
    font-size: 12px;
    line-height: 18px;
  }
  .description {
    font-size: 12px;
    line-height: 18px;
  }
  .btn {
    height: 48px;
    padding: 10px 24px;
  }
  .mb-30 {
    margin-bottom: 20px;
  }
  .container, .container-fluid {
    padding: 0 20px;
  }
  .row {
    margin: 0 -10px;
  }
  .row > * {
    padding: 0 10px;
  }
  .m-100 {
    margin: 40px 0;
  }
  .slick-dots {
    margin: 20px auto 0;
  }
  .company-logos {
    display: block;
  }
  .footer-cookie {
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;
  }
  .home-slider {
    padding: 30px 10px 311px;
    background: url("../img/home-slide1-mobile.jpg") no-repeat center;
    background-size: cover;
  }
  .home-slider h2, .home-slider .h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .popular-category {
    margin: 40px 0;
  }
  .popular-category .product-card {
    width: 100%;
  }
  .reviews-slider, .popular-category-slider, .hits-slider, .sales-slider {
    width: 100%;
  }
  .about-company {
    margin: 40px 0;
  }
  .about-company .text {
    margin: 0 0 20px;
  }
  .about-company__content {
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .about-company__video {
    height: 158px;
  }
  .video-wrapper:after {
    width: 60px;
    height: 60px;
    background-size: 16px;
  }
  .advantages-section {
    padding: 40px 0 317px;
    background: #F7F4FF;
  }
  .advantages-section .mb-30 {
    margin-bottom: 14px;
  }
  .advantages-row {
    margin: -317px auto 0;
  }
  .advantages-wrapper {
    padding: 20px;
  }
  .advantages-wrapper .mb-30 {
    margin-bottom: 14px;
  }
  .advantages-wrapper .mb-30:last-child {
    margin-bottom: 0;
  }
  .advantages-wrapper h3 {
    font-size: 28px;
    line-height: 34px;
  }
  .advantages-wrapper-item {
    font-size: 14px;
    line-height: 22px;
  }
  .reviews-card {
    width: 100%;
    padding: 20px;
  }
  .hits-card {
    width: 100%;
  }
  .hits-card__body {
    padding: 28px 20px 20px;
  }
  .news-blog .link {
    margin: 0 0 20px !important;
  }
}
@media only screen and (min-width: 992px) {
  .collapse.d-lg-block {
    display: block !important;
    height: auto !important;
    visibility: visible;
  }
}