/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1310px) {
  .callback-wrapper__img {
    max-width: 500px;
  }
  .callback-wrapper__content {
    width: calc(100% - 250px);
    max-width: none;
    padding: 50px 50px 50px 280px;
  }
  .search-wrapper {
    max-width: 220px;
    margin: 0 20px 0 auto;
  }
  .header-fixed .search-wrapper {
    max-width: 220px;
  }
  .menu-category__item {
    margin: 0 40px 0 0;
  }
  .menu-category__item:last-child {
    margin: 0;
  }
  .menu {
    font-size: 14px;
  }
  .menu > li {
    margin: 0 15px 0 0;
  }
  .menu > li:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .btn {
    padding: 10px 20px;
  }
  .btn-location {
    padding: 0;
  }
  .dropdown-burger {
    margin: 0 0 0 20px;
  }
  .search-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: none;
    background: #fff;
    padding: 20px;
    border-top: 1px solid #E6DEF4;
    display: none;
  }
  .header-fixed .search-wrapper {
    max-width: none;
  }
  .logo-header {
    margin: 0 auto 0 0;
  }
  .btn-search-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-top, .header-bottom, .header-center .btn-callback {
    display: none !important;
  }
  .header-contacts .mail {
    display: block;
  }
  .dropdown-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-fixed .header-contacts {
    margin: 0 20px 0 0;
  }
}
@media only screen and (max-width: 992px) {
  .container, .container-fluid {
    padding: 0 24px;
  }
  .row {
    margin: 0 -12px;
  }
  .m-100 {
    margin: 80px 0;
  }
  .btn {
    height: 48px;
    padding: 10px 24px;
  }
  .slick-dots {
    padding: 0 12px;
  }
  .home-slider {
    background: url("../img/home-slide1-tablet.jpg") no-repeat center;
    background-size: cover;
    padding: 58px 0;
  }
  .home-slider .slick-dots {
    bottom: 30px;
  }
  .home-slider h2 {
    margin: 0 0 15px;
  }
  .home-slider h1, .home-slider .h1 {
    margin: 0 0 20px;
  }
  .home-slider h1, .home-slider h2, .home-slider .h1 {
    font-size: 28px;
    line-height: 34px;
  }
  .popular-category {
    margin: 80px 0;
  }
  .about-company__content {
    max-width: none;
  }
  .about-company {
    margin: 80px 0;
  }
  .about-company .text {
    margin: 0 0 30px;
  }
  .about-company__video {
    height: 403px;
  }
  .advantages-section {
    padding: 80px 0 146px;
    background-size: 400px;
  }
  .advantages-img {
    max-width: 624px;
    margin: 0 auto;
  }
  .advantages-wrapper {
    padding: 40px 40px 10px;
  }
  .advantages-row {
    margin: -146px auto 0;
  }
  .reviews-read-more {
    margin: 14px 0 0;
  }
  .news-blog-card .link-arrow {
    height: 60px;
    width: 60px;
  }
  .sales-section {
    margin: 50px 0 80px;
  }
  .callback-wrapper {
    padding: 40px 0 0;
  }
  .callback-wrapper__img {
    width: calc(100% - 100px);
    max-width: none;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .callback-wrapper__content {
    max-width: none;
    width: 100%;
    background: #BDA2F6;
    padding: 380px 50px 50px 50px;
  }
  .form-callback {
    max-width: none;
  }
  .form-callback .label-checkbox {
    max-width: 282px;
  }
  .menu-footer-column {
    margin: 0 0 20px;
  }
  .company-logos {
    display: none;
  }
  .footer-top {
    padding: 50px 0 20px;
  }
  .footer-bottom {
    padding: 20px 0;
  }
  .logo-header .logo-description {
    display: none;
  }
  .dropdown-burger {
    position: initial;
  }
  .dropdown-menu-toggle {
    min-width: auto;
    margin: 1px 0 0 !important;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .popular-category .product-card {
    width: 240px;
  }
  .reviews-slider, .popular-category-slider, .hits-slider, .sales-slider {
    width: calc(100% + 15px);
  }
  .reviews-slider .slick-dots {
    margin: 30px 0 0;
  }
  .reviews-card {
    width: 420px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews-card .logo-clinik {
    display: none;
  }
  .reviews-card__head {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-top: 1px solid #fff;
    padding: 20px 0 0;
    margin: 20px 0 0;
  }
  .reviews-card__body {
    border: none;
    padding: 0;
    margin: 0;
  }
  .reviews-card__avatar {
    display: none;
  }
  .reviews-card__name {
    margin: 0;
    padding: 0;
  }
  .reviews-card__position {
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
  }
  .hits-card {
    width: 307px;
  }
  .sales-card {
    width: 525px;
  }
  .link-politiks {
    max-width: 175px;
  }
  .btn-burger, .btn-basket, .btn-search-mobile {
    width: 50px;
    height: 50px;
    min-width: 50px;
    padding: 13px;
  }
}
@media only screen and (max-width: 720px) {
  .header-fixed .header-contacts {
    margin: 0 14px 0 0;
  }
  .dropdown-burger, .btn-basket {
    margin: 0 0 0 14px;
  }
  .logo-header .logo-icon img {
    width: 98px;
  }
}
@media only screen and (max-width: 676px) {
  .link-politiks {
    max-width: none;
    margin: 10px 0 14px !important;
  }
  .copyright, .link-developer {
    width: 100%;
  }
  .header-fixed .header-contacts, .btn-search-mobile, .header-contacts {
    display: none;
  }
  .btn-burger, .btn-basket {
    width: 42px;
    height: 42px;
    min-width: 42px;
    padding: 11px;
  }
  .btn-basket__count {
    width: 14px;
    height: 14px;
    font-size: 8px;
    line-height: 18px;
  }
  .header-center {
    padding: 14px 0;
  }
  .dropdown-menu-toggle {
    padding: 0;
  }
  .dropdown-menu-body {
    padding: 20px 20px 16px;
  }
  .dropdown-menu-footer {
    padding: 30px 20px;
    background: #F7F4FF;
  }
  .dropdown-menu-footer .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 14px;
  }
  .dropdown-menu-footer .header-contacts a {
    margin: 0 0 10px;
    padding: 0;
    border: none;
  }
  .dropdown-menu-footer .header-contacts a:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 576px) {
  h1, .h1 {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 20px;
  }
  h2, .h2 {
    font-size: 20px;
    line-height: 26px;
  }
  h3, .h3 {
    font-size: 18px;
    line-height: 26px;
  }
  h4, .h4 {
    font-size: 16px;
    line-height: 24px;
  }
  h5, .h5 {
    font-size: 16px;
    line-height: 24px;
  }
  .link {
    font-size: 16px;
  }
  .bold-text {
    font-size: 14px;
    line-height: 22px;
  }
  .box-text, .text, .bold-text {
    font-size: 14px;
    line-height: 22px;
  }
  .small-text {
    font-size: 12px;
    line-height: 18px;
  }
  .description {
    font-size: 12px;
    line-height: 18px;
  }
  .btn {
    height: 48px;
    padding: 10px 24px;
  }
  .mb-30 {
    margin-bottom: 20px;
  }
  .container, .container-fluid {
    padding: 0 20px;
  }
  .row {
    margin: 0 -10px;
  }
  .row > * {
    padding: 0 10px;
  }
  .m-100 {
    margin: 40px 0;
  }
  .mb-40 {
    margin-bottom: 30px;
  }
  label {
    margin: 0 0 14px;
  }
  label:last-child {
    margin: 0;
  }
  .form-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 20px 0 0;
  }
  footer .list-social {
    margin: 30px 0 20px;
  }
  .footer-address-box {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 22px;
  }
  .footer-address-box:last-child {
    margin: 0;
  }
  .footer-address-box p {
    margin: 0 0 10px;
  }
  .footer-address-box p:last-child {
    margin: 0;
  }
  .footer-address-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-address-wrapper a:last-child {
    margin: 10px 0 0;
    padding: 0;
    border: none;
  }
  .phone-column a:last-child {
    margin: 0;
  }
  .company-logos-box {
    margin: 0 0 20px;
  }
  .company-logos-box:last-child {
    margin: 0 0 20px;
  }
  .company-logos-box .logo-icon img {
    width: 120px;
  }
  .menu-footer-column {
    margin: 0 0 14px;
  }
  .menu-footer-column:last-child {
    margin: 0 0 14px;
  }
  .slick-dots {
    margin: 20px auto 0;
  }
  .company-logos {
    display: block;
  }
  .footer-top {
    padding: 40px 0 16px;
  }
  .footer-cookie {
    padding: 10px 0;
    font-size: 14px;
    line-height: 22px;
  }
  .home-slider {
    padding: 30px 10px 311px;
    background: url("../img/home-slide1-mobile.jpg") no-repeat center;
    background-size: cover;
  }
  .home-slider h2, .home-slider .h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .popular-category {
    margin: 40px 0;
  }
  .popular-category .product-card {
    width: 100%;
  }
  .reviews-slider, .popular-category-slider, .hits-slider, .sales-slider {
    width: 100%;
  }
  .about-company {
    margin: 40px 0;
  }
  .about-company .text {
    margin: 0 0 20px;
  }
  .about-company__content {
    padding: 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .about-company__video {
    height: 158px;
  }
  .video-wrapper:after {
    width: 60px;
    height: 60px;
    background-size: 16px;
  }
  .advantages-section {
    padding: 40px 0 317px;
    background: #F7F4FF;
  }
  .advantages-section .mb-30 {
    margin-bottom: 14px;
  }
  .advantages-row {
    margin: -317px auto 0;
  }
  .advantages-wrapper {
    padding: 20px;
  }
  .advantages-wrapper .mb-30 {
    margin-bottom: 14px;
  }
  .advantages-wrapper .mb-30:last-child {
    margin-bottom: 0;
  }
  .advantages-wrapper h3 {
    font-size: 28px;
    line-height: 34px;
  }
  .advantages-wrapper-item {
    font-size: 14px;
    line-height: 22px;
  }
  .reviews-card {
    width: 100%;
    padding: 20px;
  }
  .hits-card {
    width: 100%;
  }
  .hits-card__body {
    padding: 28px 20px 20px;
  }
  .news-blog .link {
    margin: 0 0 20px !important;
  }
  .news-blog-card {
    padding: 20px;
  }
  .news-blog-card .box-text {
    padding: 0;
  }
  .news-blog-card .box-text br {
    display: none;
  }
  .news-blog-card__title {
    margin: 14px 0;
  }
  .news-blog-card .link-arrow {
    position: relative;
    z-index: 1;
    right: 0;
    bottom: 0;
    width: 52px;
    height: 52px;
    padding: 17px;
    margin: 14px 0 0;
  }
  .sales-card {
    width: 100%;
    min-width: auto;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .sales-card__img {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sales-card__body {
    width: 100%;
    padding: 20px 0 0;
  }
  .sales-card .list-labels {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sales-card .price-wrapper {
    margin: 14px 0 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sales-card .price {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sales-card .old-price {
    margin: 0 0 0 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .callback-wrapper__content {
    padding: 140px 20px 20px 20px;
  }
  .callback-wrapper__content h2, .callback-wrapper__content .h2 {
    margin: 0 0 10px;
  }
  .callback-wrapper__content .box-text {
    margin: 0 0 20px;
  }
  .callback-wrapper__img {
    width: calc(100% - 40px);
    height: 162px;
    border-radius: 10px;
  }
  .form-callback [type=submit] {
    margin: 0 0 10px;
  }
  .form-callback .label-checkbox {
    max-width: none;
  }
  .dropdown-menu-toggle {
    position: fixed;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    background: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 9999;
  }
  body.menu-open {
    overflow: hidden;
  }
}
@media only screen and (min-width: 992px) {
  .collapse.d-lg-block {
    display: block !important;
    height: auto !important;
    visibility: visible;
  }
}