@import "vars"

footer
    background: $light-pink

.footer-top
    padding: 50px 0        

.footer-cookie
    padding: 15px 0
    color: $grey
    background: $stroke

.footer-bottom
    padding: 26px 0
    background: #fff
    color: $light-grey    