@import "vars"

footer
    background: $light-pink

.footer-top
    padding: 50px 0        

.footer-cookie
    padding: 15px 0
    color: $grey
    background: $stroke

.footer-bottom
    padding: 26px 0
    background: #fff
    color: $light-grey 
    font-weight: 500   

.link-developer
    span
        color: $violet    

.list-social
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    li
        margin: 0 10px 10px 0
        &:last-child
            margin-right: 0
        a
            border-radius: 50%
            width: 36px
            height: 36px
            min-width: 36px
            background: #fff
            @include d-flex        