@import "vars"

.logo
    display: flex
    align-items: center
    color: $grey
    font-size: 12px
    font-weight: 500
    line-height: 18px
    &-icon
        img
            width: 130px
    &-description
        min-height: 50px
        margin: 0 0 0 20px
        max-width: 209px
        padding: 0 0 0 20px
        border-left: 1px solid $stroke
        display: flex
        align-items: center
    