@import "vars"

.logo
    display: flex
    align-items: center
    color: $grey
    font-size: 12px
    font-weight: 500
    line-height: 18px
    &-icon
        border-right: 1px solid $stroke
        padding: 0 20px 0 0
        img
            width: 130px
    &-description
        margin: 0 0 0 20px
        max-width: 209px
    