@import "vars"

// home slider
.home-slider
    background: url('../img/home-slide1.png') no-repeat center
    background-size: cover   
    color: #fff
    padding: 150px 0     

// popular-category
.popular-category
    margin: 150px 0 75px        