/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1310px)
    .callback-wrapper
        &__img
            max-width: 500px
        &__content
            width: calc( 100% - 250px )
            max-width: none
            padding: 50px 50px 50px 280px

    .search-wrapper
        max-width: 220px
        margin: 0 20px 0 auto

    .header-fixed .search-wrapper
        max-width: 220px

    .menu-category__item
        margin: 0 40px 0 0
        &:last-child
            margin: 0

    .menu
        font-size: 14px
        > li
            margin: 0 15px 0 0
            &:last-child
                margin: 0

@media only screen and (max-width: 1200px)
    .btn
        padding: 10px 20px

    .btn-location
        padding: 0

    .dropdown-burger
        margin: 0 0 0 20px

    .search-wrapper
        position: absolute
        top: 100%
        left: 0
        width: 100%
        max-width: none
        background: #fff
        padding: 20px
        border-top: 1px solid #E6DEF4
        display: none

    .header-fixed .search-wrapper
        max-width: none

    .logo-header
        margin: 0 auto 0 0

    .btn-search-mobile
        display: flex

    .header-top, .header-bottom, .header-center .btn-callback
        display: none !important

    .header-contacts .mail
        display: block

    .dropdown-burger
        display: flex

    .header-fixed .header-contacts
        margin: 0 20px 0 0

    .blog-card__img
        max-width: 400px

    .blog-card__body
        width: calc( 100% - 400px )
        padding: 0 0 0 20px

    .category-card
        min-height: 286px
        &__img
            max-width: 150px

@media only screen and (max-width: 992px)
    .container, .container-fluid
        padding: 0 24px

    .row
        margin: 0 -12px

    .mt-50
        margin-top: 30px

    .m-100
        margin: 80px 0

    .btn
        height: 48px
        padding: 10px 24px

    .slick-dots
        padding: 0 12px

    .home-slider
        background: url('../img/home-slide1-tablet.jpg') no-repeat center
        background-size: cover
        padding: 58px 0
        .slick-dots
            bottom: 30px
        h2
            margin: 0 0 15px
        h1, .h1
            margin: 0 0 20px
        h1, h2, .h1
            font-size: 28px
            line-height: 34px

    .popular-category
        margin: 80px 0

    .about-company__content
        max-width: none

    .about-company
        margin: 80px 0
        .text
            margin: 0 0 30px
        &__video
            height: 403px

    .advantages-section
        padding: 80px 0 146px
        background-size: 400px

    .advantages-img
        max-width: 624px
        margin: 0 auto

    .advantages-wrapper
        padding: 40px 40px 10px

    .advantages-row
        margin: -146px auto 0

    .reviews-read-more
        margin: 14px 0 0

    .news-blog-card .link-arrow
        height: 60px
        width: 60px

    .sales-section
        margin: 50px 0 80px

    .callback-wrapper
        padding: 40px 0 0
        &__img
            width: calc( 100% - 100px )
            max-width: none
            top: 0
            left: 50%
            transform: translate(-50%,0)
        &__content
            max-width: none
            width: 100%
            background: #BDA2F6
            padding: 380px 50px 50px 50px

    .form-callback
        max-width: none
        .label-checkbox
            max-width: 282px

    .menu-footer-column
        margin: 0 0 20px

    .company-logos
        display: none

    footer
        margin: 80px 0 0

    .footer-top
        padding: 50px 0 20px

    .footer-bottom
        padding: 20px 0

    .logo-header
        .logo-description
            display: none

    .dropdown-burger
        position: initial

    .dropdown-menu-toggle
        min-width: auto
        margin: 1px 0 0 !important
        width: 100%

    .sidebar-blog
        max-width: none

    .list-categorey-blog
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        li
            width: fit-content
            margin: 0 20px 10px 0
            &:last-child
                margin: 0 0 10px
        a
            padding: 14px 24px

    .blog-card
        padding: 20px
        &__img
            max-width: none
        &__body
            width: 100%
            padding: 20px 0 0

    .form-consultation
        [type='submit']
            width: 100%

    .btn-catalog-mobile
        display: flex

    .sidebar-catalog
        display: none
        position: fixed
        left: 0
        top: 0
        height: 100%
        max-width: 400px
        width: 100%
        z-index: 10
        padding: 0
        box-shadow: 0px 4px 11px 0px #ACACAC
        &__close
            display: flex
        &.active
            display: flex

    .catalog-accordion
        width: 100%
        height: 100%
        padding: 40px
        overflow-y: auto
        background: #fff
        position: relative
        z-index: 1
        scrollbar-gutter: stable
        &::-webkit-scrollbar
            width: 4px
        &::-webkit-scrollbar-track
            background-color: #BDA2F6
            width: 4px
        &::-webkit-scrollbar-track-piece
            background-color: #F7F4FF
        &::-webkit-scrollbar-thumb
            background-color: #BDA2F6
            width: 4px
            border-radius: 0
        &::-webkit-scrollbar-corner
            background-color: #F7F4FF
        &::-webkit-resizer
            background-color: #BDA2F6
            width: 4px

    .catalog-item
        border: none
        border-radius: 0
        &__btn
            padding: 0
            background: transparent
            &-icon
                margin: 0 0 0 5px

    .catalog-list
        padding: 10px 0 0

    .help-card
        flex-direction: column
        align-items: flex-start
        padding: 30px
        &__body
            width: 100%
            padding: 0
            max-width: none
        &__img
            order: -1
            width: 370px
            height: 248px
            margin: 0 0 20px

    .page-catalog-v2
        .btn-catalog-mobile
            margin: 0

@media only screen and (max-width: 768px)
    .popular-category
        .product-card
            width: 240px

    .reviews-slider, .popular-category-slider, .hits-slider, .sales-slider
        width: calc( 100% + 15px )

    .reviews-slider .slick-dots
        margin: 30px 0 0

    .reviews-card
        width: 420px
        padding: 30px
        display: flex
        flex-direction: column
        .logo-clinik
            display: none
        &__head
            order: 1
            border-top: 1px solid #fff
            padding: 20px 0 0
            margin: 20px 0 0
        &__body
            border: none
            padding: 0
            margin: 0
        &__avatar
            display: none
        &__name
            margin: 0
            padding: 0
        &__position
            font-size: 14px
            line-height: 22px
            font-weight: normal

    .hits-card
        width: 307px

    .sales-card
        width: 525px

    .link-politiks
        max-width: 175px

    .btn-burger, .btn-basket, .btn-search-mobile
        width: 50px
        height: 50px
        min-width: 50px
        padding: 13px

    .video-reviews
        display: none

    .geography-projects
        margin: 0 0 80px

    .map
        height: 450px

    .reviews-card-reverse
        width: 100%

    .page-reviews
        margin: 30px 0 80px

    .blog-card
        &__img
            height: 186px

    .tag-item
        top: 10px
        left: 10px

    .patient-card
        min-height: 616px
        &__img
            height: 302px
        &__body
            height: calc( 100% - 302px )

    .page-patients
        margin: 30px 0 50px

    .category-card
        &__img
            max-width: 206px

    .page-marketing
        margin: 30px 0 60px

    .marketing-result
        margin: 60px 0

    .gallery-news__item
        width: 586px
        height: 350px

    .gallery-news-slider
        width: calc( 100% + 15px )

    .instruction-box
        padding: 30px 30px 10px

    .card-product-row__img
        height: 396px

    .card-product-row__body
        padding: 0 0 0 30px

    .page-about .about-company__video
        height: 400px

@media only screen and (max-width: 720px)
    .header-fixed .header-contacts
        margin: 0 14px 0 0

    .dropdown-burger, .btn-basket
        margin: 0 0 0 14px

    .logo-header
        .logo-icon img
            width: 98px

@media only screen and (max-width: 676px)
    .link-politiks
        max-width: none
        margin: 10px 0 14px !important

    .copyright, .link-developer
        width: 100%

    .header-fixed .header-contacts, .btn-search-mobile, .header-contacts
        display: none

    .btn-burger, .btn-basket
        width: 42px
        height: 42px
        min-width: 42px
        padding: 11px

    .btn-basket__count
        width: 14px
        height: 14px
        font-size: 8px
        line-height: 18px

    .header-center
        padding: 14px 0

    .dropdown-menu-toggle
        padding: 0

    .dropdown-menu-body
        padding: 20px 20px 16px

    .dropdown-menu-footer
        padding: 30px 20px
        background: #F7F4FF
        .header-contacts
            display: flex
            flex-direction: column
            align-items: flex-start
            margin: 0 0 14px
            a
                margin: 0 0 10px
                padding: 0
                border: none
                &:last-child
                    margin: 0

    .page
        margin: 30px 0 50px

    .search-result-list
        font-size: 16px
        line-height: normal
        &__item
            margin: 0 0 20px
            &:last-child
                margin: 0
        &__link
            padding: 0 0 10px

    .pagination .page-link
        width: 48px
        height: 48px
        min-width: 48px

    .card-product-row
        flex-direction: column
        align-items: flex-start
        &__img
            width: 100%
        &__body
            width: 100%
            padding: 14px 0 0

@media only screen and (max-width: 576px)
    h1, .h1
        font-size: 28px
        line-height: 34px
        margin: 0 0 20px

    h2, .h2
        font-size: 20px
        line-height: 26px

    h3, .h3
        font-size: 18px
        line-height: 26px

    h4, .h4
        font-size: 16px
        line-height: 24px

    h5, .h5
        font-size: 16px
        line-height: 24px

    .link
        font-size: 16px

    .bold-text
        font-size: 14px
        line-height: 22px

    .box-text, .text, .bold-text
        font-size: 14px
        line-height: 22px

    .small-text
        font-size: 12px
        line-height: 18px

    .description
        font-size: 12px
        line-height: 18px

    .btn
        height: 48px
        padding: 10px 24px

    .mb-30
        margin-bottom: 20px

    .m-60
        margin: 30px 0

    .container, .container-fluid
        padding: 0 20px

    .row
        margin: 0 -10px
        > *
            padding: 0 10px

    .m-100
        margin: 40px 0

    .mb-40
        margin-bottom: 30px

    .mb-60
        margin-bottom: 30px

    label
        margin: 0 0 14px
        &:last-child
            margin: 0

    .form-footer
        flex-direction: column
        align-items: flex-start
        margin: 20px 0 0

    footer
        margin: 40px 0 0
        .list-social
            margin: 30px 0 20px

    .footer-address-box
        margin: 0 0 20px
        font-size: 14px
        line-height: 22px
        &:last-child
            margin: 0
        p
            margin: 0 0 10px
            &:last-child
                margin: 0

    .footer-address-wrapper
        flex-direction: column
        align-items: flex-start
        a
            &:last-child
                margin: 10px 0 0
                padding: 0
                border: none

    .phone-column
        a
            &:last-child
                margin: 0

    .company-logos-box
        margin: 0 0 20px
        &:last-child
            margin: 0 0 20px
        .logo-icon img
            width: 120px

    .menu-footer-column
        margin: 0 0 14px
        &:last-child
            margin: 0 0 14px

    .slick-dots
        margin: 20px auto 0

    .company-logos
        display: block

    .footer-top
        padding: 40px 0 16px

    .footer-cookie
        padding: 10px 0
        font-size: 14px
        line-height: 22px

    .home-slider
        padding: 30px 10px 311px
        background: url('../img/home-slide1-mobile.jpg') no-repeat center
        background-size: cover
        h2, .h2
            font-size: 28px
            line-height: 34px

    .popular-category
        margin: 40px 0

        .product-card
            width: 100%

    .reviews-slider, .popular-category-slider, .hits-slider, .sales-slider
        width: 100%

    .about-company
        margin: 40px 0
        .text
            margin: 0 0 20px
        &__content
            padding: 20px
            font-size: 14px
            line-height: 20px
        &__video
            height: 158px

    .video-wrapper:after
        width: 60px
        height: 60px
        background-size: 16px

    .advantages-section
        padding: 40px 0 317px
        background: #F7F4FF
        .mb-30
            margin-bottom: 14px

    .advantages-row
        margin: -317px auto 0

    .advantages-wrapper
        padding: 20px
        .mb-30
            margin-bottom: 14px
            &:last-child
                margin-bottom: 0
        h3
            font-size: 28px
            line-height: 34px

    .advantages-wrapper-item
        font-size: 14px
        line-height: 22px

    .reviews-card
        width: 100%
        padding: 20px

    .hits-card
        width: 100%
        &__body
            padding: 28px 20px 20px

    .news-blog
        .link
            margin: 0 0 20px !important

    .news-blog-card
        padding: 20px
        .box-text
            padding: 0
            br
                display: none
        &__title
            margin: 14px 0
        .link-arrow
            position: relative
            z-index: 1
            right: 0
            bottom: 0
            width: 52px
            height: 52px
            padding: 17px
            margin: 14px 0 0

    .sales-card
        width: 100%
        min-width: auto
        padding: 20px
        flex-direction: column
        align-items: flex-start
        position: relative
        &__img
            width: 100%
            justify-content: center
        &__body
            width: 100%
            padding: 20px 0 0
        .list-labels
            position: absolute
            top: 0
            left: 0
            padding: 20px
            justify-content: flex-end
        .price-wrapper
            margin: 14px 0 20px
            flex-direction: row
            align-items: flex-start
            display: flex
        .price
            width: fit-content
        .old-price
            margin: 0 0 0 10px
            width: fit-content

    .callback-wrapper__content
        padding: 140px 20px 20px 20px
        h2, .h2
            margin: 0 0 10px
        .box-text
            margin: 0 0 20px

    .callback-wrapper__img
        width: calc( 100% - 40px )
        height: 162px
        border-radius: 10px

    .form-callback [type=submit]
        margin: 0 0 10px
        width: 100%

    .form-callback .label-checkbox
        max-width: none

    .dropdown-menu-toggle
        position: fixed
        left: 0
        right: 0
        top: auto
        bottom: 0
        width: 100%
        background: #fff
        overflow-y: auto
        -webkit-overflow-scrolling: touch
        z-index: 9999

    body.menu-open
        overflow: hidden

    /* Кнопка */
    .tabs-select-btn
        color: #6b38f5
        text-align: left
        cursor: pointer
        display: flex

    /* Прячем десктопное меню */
    .list-categorey-blog
        display: none
        z-index: 10
        width: 100%
        margin: 10px 0 0
        transition: .3s ease
        li
            width: 100%

    /* Показываем при открытии */
    .tabs-wrapper.open .list-categorey-blog
        display: block

    .page-patients
        margin: 20px 0

    .patient-card
        min-height: 480px
        &__img
            height: 140px
        &__body
            padding: 14px 0 0
            height: calc( 100% - 140px )
        .box-text
            margin: 10px 0 20px

    .company-card
        background-size: 230px
        padding: 20px
        min-height: auto
        &__logo
            height: 56px
            margin: 0 0 20px

    .attention-text
        margin: 14px 0 20px
        font-size: 14px
        line-height: 22px

    .consultation-wrapper
        padding: 20px
        background: #BDA2F6
        .box-text
            display: none

    .general-card
        padding: 20px

    .model-card
        &__img
            height: 120px
        &__title
            margin: 0 0 10px
        &__body
            padding: 14px 0 0
            height: calc( 100% - 120px )
        .box-text
            margin: 0 0 20px

    .sidebar-catalog
        padding: 0
        max-width: 320px

    .catalog-accordion
        padding: 20px

    .catalog-item
        margin: 0 0 14px
        &:last-child
            margin: 0
        &__btn
            font-size: 16px
            &-icon
                width: 24px
                height: 24px
                min-width: 24px

    .catalog-list
        padding: 14px 0 0
        font-size: 14px
        line-height: 22px
        li
            margin: 0 0 10px
            &:last-child
                margin: 0

    .btn-catalog-mobile
        margin: 20px 0

    .category-card
        min-height: 380px
        &__body
            max-width: none
        &__img
            max-width: 150px
            height: 238px
            img
                max-height: 100%
            &:after
                width: 238px
                height: 238px
                bottom: -78px
                right: -78px

    .help-card
        padding: 20px
        &__img
            width: 240px
            height: 158px
            border-radius: 10px
            img
                border-radius: 10px
        .box-text
            margin: 14px 0

    .nav-breadcrumb
        margin: 0 0 20px

    .breadcrumb a svg
        margin: 0 4px

    .marketing-image
        height: 168px
        max-width: 280px

    .marketing-result
        margin: 40px 0 20px

    .page-marketing
        margin: 20px 0 40px

    .marketing-result-box
        padding: 0
        &::before
            display: none
        h5
            display: flex
            align-items: flex-start
            margin: 0 0 14px
            &::before
                content: ''
                width: 18px
                height: 18px
                min-width: 18px
                margin: 3px 10px 0 0
                background: url('../img/check-icon.svg') no-repeat center
                background-size: 100%

    .devices-card
        width: 100%

    .devices-slider, .gallery-news-slider
        width: 100%

    .gallery-news-wrapper
        padding: 20px

    .gallery-news__item
        width: 100%
        height: 143px

    .btn-set-question
        width: 100%

    .read-also
        margin: 40px 0 20px

    .attention-text-v2
        margin: 20px 0

    .banner-news
        border-radius: 4px
        img
            border-radius: 4px

    .article-type
        margin-bottom: 10px

    .card-product-row
        padding: 14px
        &__img
            height: 290px
            &:after
                width: 200px
                height: 200px
        .price-wraper
            margin: 0 0 14px
        .btn-group
            margin: 0
            flex-direction: column
            align-items: flex-start
            .btn
                margin: 0 0 10px
                width: 100%
                &:last-child
                    margin: 0

    .list-rating
        margin: 14px 0
        font-size: 14px
        line-height: 22px
        li
            margin: 0 0 5px
            flex-direction: column
            align-items: flex-start
            &:last-child
                margin: 0

    .list-rating-stars
        margin: 0
        svg
            width: 18px
            height: 18px
            min-width: 18px

    .list-tags__item
        margin: 0 10px 10px 0
        &:last-child
            margin: 0

    .list-tags
        &__link
            padding: 12px 20px   
            height: auto     

    .select-sorting + .select2-container
        width: 100% !important
        margin: 20px 0 0

    .select-sorting + .select2-container--default .select2-selection--single
        font-size: 16px
        line-height: 24px

    .select-sorting + .select2-container--default .select2-selection--single .select2-selection__arrow
        margin: 0

    .certificate-card__img
        height: 324px
        padding: 20px

    .page-about
        .about-company__video
            height: 158px
        .list-tags
            margin: 0 0 20px  



@media only screen and (max-width: 480px)

@media only screen and (max-width: 420px)

@media only screen and (max-width: 370px)

@media only screen and (min-width: 992px)
    .collapse.d-lg-block
        display: block !important
        height: auto !important
        visibility: visible
